.carousel .first-slide {
  background:#ddd url(outside.jpg) no-repeat center center;
  background-size:cover;
}

.carousel .second-slide {
  background:#ddd url(dinner.jpg) no-repeat center center;
  background-size:cover;
}

.carousel .third-slide {
  background:#ddd url(salad.jpg) no-repeat center center;
  background-size:cover;
}
